<h1>Discover Users</h1>

{% for user in users %}
  <div>
    <p>
      <strong>{{ user.username }}</strong><br>
      {{ user.first_name }} {{ user.last_name }}<br>
      {{ user.email }}
    </p>

    <!-- When form submitted, path("follow/<int:user_id>/", views.follow_user_view, name="follow_user") is taken -->
    <form method="POST" action="{% url 'follow_user' user.django_id %}">
      {% csrf_token %}
      <button type="submit">Follow</button>
    </form>
  </div>

  <hr>
{% empty %}
  <p>No users found.</p>
{% endfor %}

<a href="{% url 'home' %}">
  <button>Back Home</button>
</a>