<h1>Protected Home Page</h1>

<p>Welcome, {{ request.user.username }}!</p>

<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

<a href="{% url 'profile' %}">
    <button>View Profile</button>
</a>

<a href="{% url 'discover_users' %}">
  <button>Discover Users</button>
</a>

<a href="{% url 'following' %}">
  <button>Following</button>
</a>

<a href="{% url 'followers' %}">
  <button>Followers</button>
</a>

<a href="{% url 'friend_recommendations' %}">
  <button>Friend Recommendations</button>
</a>

<a href="{% url 'search_users' %}">
  <button>Search Users</button>
</a>